numpy
pandas
pyarrow
# matplotlib
# seaborn
# scipy
# scikit-learn
lightgbm
shap
# optuna
# fairlearn
fastapi
uvicorn
gunicorn
requests
sqlalchemy
psycopg2-binary
python-dotenv
jupyter
sentence-transformers>=2.7,<3
transformers>=4.36,<5
torch
# pgvector
# qdrant-client
