numpy
pandas
pyarrow
# matplotlib
# seaborn
# scipy
# scikit-learn
lightgbm
shap
# optuna
# fairlearn
fastapi
uvicorn
gunicorn
requests
# jupyter
# sentence-transformers
# transformers
# torch
# psycopg[binary]
# pgvector
# qdrant-client
